## Project :-  Prediction of Internal marks.

Goal-Prediction of internal marks based on features like unit_test1 marks,unit_test2 marks,performance of the Student and Presenty

In [8]:
import pandas as pd
import numpy as np
import joblib 

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
import os
from sklearn.model_selection import train_test_split

In [9]:
df=pd.read_csv("stud_mark.csv")

In [10]:
df.head()

   cie1  cie2  presenty   behavier  marks
0    24    24        79  very good     27
1    20    18        75     normal     25
2     9    20        72  very good     27
3    20    21        75     normal     22
4     6     8        60     normal     13

#### Feature Engineering / label hot encoding

In [25]:
def beh(behaviour):
    if behaviour=='very good':
        return 3
    if behaviour=='good':
        return 2
    if behaviour=='normal':
        return 1
    
df['behaviour']=df['behavier'].apply(beh)

In [26]:
print(df['behaviour'].value_counts())
print("\n Avag: ")
df.groupby('marks').mean()[:5]

1    13
2     7
3     3
Name: behaviour, dtype: int64

 Avag:

            cie1       cie2   presenty  behaviour
marks
13      6.000000   8.000000  60.000000   1.000000
15     10.500000  11.500000  37.500000   1.000000
17      7.000000  19.333333  68.333333   1.000000
18     16.000000  11.000000  73.666667   1.333333
20     13.333333  15.500000  74.333333   1.666667

In [31]:
df=df.drop('behavier',axis=1)

### Model Training and Testing

#### Train test Split

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report

In [33]:
X=df.drop(['marks'],axis=1)
y=df['marks']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [35]:
# df.head()

#### Linear Regression

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [39]:
y_pred=lr.predict(X_test)
y_pred

array([19.55500341, 20.46923115, 30.62323139, 17.87570999, 22.05138738])

#### Model Evaluation:

In [40]:
print("Accuracy of the Model:",lr.score(X_test,y_test))

Accuracy of the Model: 0.7387679890310279


here accuracy is not import because the dataset is unbalanced

In [41]:
user_input=[[12,21,70,1]]

In [42]:
print("Internal Marks:",lr.predict(user_input)[0])

Internal Marks: 20.240380223736526

In [43]:
df.corr()['marks']

cie1         0.555825
cie2         0.610569
presenty     0.653507
marks        1.000000
behaviour    0.708868
Name: marks, dtype: float64

#### model dump

In [44]:
filename='marks.sav'
joblib.dump(lr,filename)

['marks.sav']

In [45]:
#reading file

In [46]:
LR_1=joblib.load(open('marks.sav','rb'))
print("Internal Marks:", round(lr.predict([[20,20,55,1]])[0],2))

Internal Marks: 21.71

In [47]:
my_list=[]